<!DOCTYPE html>
<html lang="en">

<head>
	<title>Poast-It</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/jquery-linedtextarea.css') }}">
	


</head>

<body>
	<div class="jumbotron text-center">
		<h1><a style="color: white;" href="./">Poast-It</a></h1>
		<p>Encrypted, secure communication.</p>
	</div>
	<div id="about" class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="container">
					<div>
						<form autocomplete="off" method="post" id="form">
							<p>Enter the text you would like to encrypt.</p>
							<textarea class="lined" style="width: 100%;" autocomplete="false" placeholder="Your text here :)"id="textbox" rows="12" cols="50"></textarea>
							<br>
							<p>Enter a key to encrypt it with. Only share this with the intended reader.</p>
							<input id="key" placeholder="Your key here"> or <button type="button" onclick="makeid(); return false;">Generate a
								key for me.</button>
							<br>
							<br>
							<select>
									<option value="" selected disabled hidden>Expires...</option>
									<option value="">10 minutes</option>
									<option value="">1 hour</option>
									<option value="">6 hours</option>
									<option value="">1 day</option>
									<option value="">Never</option>
								  </select>
							<br>
							<br>
							<button>Encrypt</button>
						</form>
						<div id="keyNote" style="display: none;">
							<a id="noteLink" target="_blank" rel="noopener noreferrer" href="">Your generated note.</a>
							<p id="yourKey">Your key</p>
						</div>
						<div id="loading" style="display: none;" class="lds-roller">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container-fluid text-center">
		<p>Poast-It 2018</p>
	</footer>

	<script>
			$(function() {
				$(".lined").linedtextarea();
			});
	</script>
			
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/encrypt.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery-linedtextarea.js') }}"></script>
</body>

</html>